<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="/static/css/weui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/detail.css">
    <title><%= data.class_name %></title>
</head>
<body>
    <article class="weui-article">
    <h1 class="class-name"><%= data.class_name %></h1>
    <section>
        <section>
            <h3>班级介绍</h3>
                <img class="banji" src="/static/img/class/class-<%= data.id %>.jpg">

            <p>
                <%= data.class_inf %>
            </p>
            
        </section>
        <section>
            <h3>班徽介绍</h3>
            <p class="banhui-wrap">
                <img class="banhui" src="/static/img/banhui/banhui-<%= data.id %>.jpg">
            </p>
            <p>
                <%= data.banhui_inf %>
            </p>
        </section>
    </section>
    <footer>© 红岩网校工作站</footer>
</article>
</body>
</html>