<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>投票</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="/vote_banhui/static/css/weui.min.css">
    <link rel="stylesheet" href="/vote_banhui/static/css/index.css">
  </head>
  <body>
    <!-- <div class="join_in">
      <div class="weui_btn_area">
        <a id="submit_btn" href="#" class="weui_btn weui_btn_primary">投票</a>
      </div>
    </div> -->
    <div class="container">
      <div class="banner">
        <img src="/vote_banhui/static/img/banner.jpg" alt="banner">
      </div>
      <section class="explain">
        <div class="weui_panel weui_panel_access">
          <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_text">
              
              <h4 class="weui_media_title">投票时间: </h4>
              <p class="weui_media_desc">11月11日-11月12日下午6点</p>

              <h4 class="weui_media_title">奖励: </h4>
              <p class="weui_media_desc">各学院选取前两名进入总决赛
              </p>
              <h4 class="weui_media_title">投票规则: </h4>
              <p class="weui_media_desc">每人每天可投两票, 只可向一个学院投一票
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="nav-bar-wrap">
        <div data-list-index="0" class="nav-bar-active nav-bar">通信学院</div>
        <div data-list-index="1" class="nav-bar">传媒学院</div>
      </section>
      <section class="list-wrap" id="college-communication">
        <% classList[1].forEach(function (item) { %>
        <div class="list">
          <a id="detail-link" href="/vote_banhui/detail?class_id=<%= item.id %>" class="weui_media_box weui_media_appmsg">
            <div class="weui_media_hd">
              <img id="singer_head" class="weui_media_appmsg_thumb" src="/vote_banhui/static/img/banhui/banhui-<%= item.id %>.jpg" alt="">
            </div>
            <div class="weui_media_bd">
              <h4 id="song_name" class="weui_media_title"><%= item.class_name %></h4>
              <p class="weui_media_desc singer">
              </p>
            </div>
          </a>
          <div class="weui_media_desc thumb_wrap">
            <i data-academy="<%= item.academy_id %>" data-id= "<%= item.id %>" data-vote-num="1" data-belong='warp_1' class="iconfont thumb">&#x3443;</i>
            <span> <%= item.vote_num %>票</span>
            <span class="thumb_num"></span>
          </div>
        </div>
        <% }) %>
      </section>

      <section class="list-wrap" id="college-media" style="display: none">
        <% classList[0].forEach(function (item) { %>
        <div class="list">
          <a id="detail-link" href="/vote_banhui/detail?class_id=<%= item.id %>" class="weui_media_box weui_media_appmsg">
            <div class="weui_media_hd">
              <img id="singer_head" class="weui_media_appmsg_thumb" src="/vote_banhui/static/img/banhui/banhui-<%= item.id %>.jpg" alt="">
            </div>
            <div class="weui_media_bd">
              <h4 id="song_name" class="weui_media_title"><%= item.class_name %></h4>
              <p class="weui_media_desc singer">
              </p>
            </div>
          </a>
          <div class="weui_media_desc thumb_wrap">
            <i data-academy="<%= item.academy_id %>" data-id= "<%= item.id %>" data-vote-num="1" data-belong='warp_1' class="iconfont thumb">&#x3443;</i>
            <span> <%= item.vote_num %>票</span>
            <span class="thumb_num"></span>
          </div>
        </div>
        <% }) %>
      </section>
    </div>
  <footer>© 红岩网校工作站</footer>

  <script src="http://a.alipayobjects.com/??amui/zepto/1.1.3/zepto.js,static/fastclick/1.0.6/fastclick.min.js"></script>
  <script src="/vote_banhui/static/js/index.js"></script>
  <script>FastClick.attach(document.body);</script>
</body>
</html>