<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>投票</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="/vote_drx/static/css/weui.min.css">
    <link rel="stylesheet" href="/vote_drx/static/css/index.css">
  </head>
  <body>
    <!-- <div class="join_in">
      <div class="weui_btn_area">
        <a id="submit_btn" href="#" class="weui_btn weui_btn_primary">投票</a>
      </div>
    </div> -->
    <div class="container">
      <div class="banner">
        <img src="/vote_drx/static/img/drx_banner.jpg" alt="banner">
      </div>
      <section class="explain">
        <div class="weui_panel weui_panel_access">
          <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_text">
              
              <h4 class="weui_media_title">投票时间: </h4>
              <p class="weui_media_desc">每轮选手开始表演时开启该类达人的投票通道，待该轮选手所有节目表演完后由主持人宣布停止投票。</p>

              <!--<h4 class="weui_media_title">奖励: </h4>
              <p class="weui_media_desc">各学院选取前两名进入总决赛
              </p>-->
              <h4 class="weui_media_title">投票规则: </h4>
              <p class="weui_media_desc rules">1.每人每天最多投三人，可重复投一组。
                          2.选手最后得分的10％将由微信投票产生
                          3.人气奖为除冠亚季军外微信投票最高者
                          4.最终解释权归社联所有。

              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="nav-bar-wrap">
        <div data-list-index="0" class="nav-bar-active nav-bar">投票中</div>
        <div data-list-index="1" class="nav-bar">已结束</div>
      </section>

      <section class="list-wrap" id="college-communication">
      <% for(v in voting_performance) { %>
        <h2 class="list-title list">
          <%= v %>
        </h2>
        <% voting_performance[v].forEach(function(item) { %>
        <div class="list">
            <div class="weui_media_hd">
              <img class="singer_head" class="weui_media_appmsg_thumb" src="/vote_drx/static/img/posters/<%=item.id%>.jpg" alt="">
            </div>
            <div class="weui_media_bd">
              <h4 id="song_name" class="weui_media_title"><%=item.performance_name%> </h4>
              <p class="weui_media_desc singer">
              </p>
            </div>
          <div class="weui_media_desc thumb_wrap">
            <i data-type="<%= item.type %> " data-id="<%= item.id %>" data-vote-num="1" data-belong='warp_1' class="iconfont thumb">&#x3443;</i>
            <span> <%= item.vote_num%> 票</span>
            <span class="thumb_num"></span>
          </div>
        </div>
        <% }) %>
      <% } %>
      </section>

      <section class="list-wrap" id="college-media" style="display: none">
        <% for(v in finish_performance) { %>
        <h2 class="list-title list">
          <%= v %>
        </h2>
        <% finish_performance[v].forEach(function(item) { %>
        <div class="list">
            <div class="weui_media_hd">
              <!-- <img class="singer_head" class="weui_media_appmsg_thumb" src="/vote_drx/static/img/pointers/<%=item.id%>.jpg" alt=""> -->
            </div>
            <div class="weui_media_bd">
              <h4 id="song_name" class="weui_media_title"><%=item.performance_name%> </h4>
              <p class="weui_media_desc singer">
              </p>
            </div>
          <div class="weui_media_desc thumb_wrap">
            <!--<i data-type="<%= item.type %>" data-id="<%= item.id %>" data-vote-num="1" data-belong='warp_1' class="iconfont thumb">&#x3443;</i>-->
            <span> <%= item.vote_num%> 票</span>
            <span class="thumb_num"></span>
          </div>
        </div>
        <% }) %>
      <% } %>
      </section>
    </div>
  <footer>© 红岩网校工作站</footer>

  <script src="http://a.alipayobjects.com/??amui/zepto/1.1.3/zepto.js,static/fastclick/1.0.6/fastclick.min.js"></script>
  <script src="/vote_drx/static/js/index.js"></script>
  <script>FastClick.attach(document.body);</script>
</body>
</html>