<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>管理系统</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="/vote_drx/static/css/weui.min.css">
    <link rel="stylesheet" href="/vote_drx/static/css/admin.css">
  </head>
  <body>

    <div class="container">

      <section class="list-wrap" id="college-communication">


        <% type_status.forEach(function(item) { %>
        <div class="list weui_media_box class-list" data-type="<%= item.type %>" data-vote="<%= item.status %>" data-id="<%= item.type %>">
            <div class="weui_media_bd">
              <h4 id="song_name" class="weui_media_title"><%= item.type %></h4>
            </div>
          <span>状态: <%= item.status %></span>
          <div class="button_sp_area">
              <a href="#" data-active="voting" class="weui_btn weui_btn_mini weui_btn_plain_default">设置为已开始</a>
              <a href="#" data-active="finish" class="weui_btn weui_btn_mini weui_btn_plain_default">设置为已结束</a>
              <a href="#" data-active="pending" class="weui_btn weui_btn_mini weui_btn_plain_default">设置为未开始</a>
          </div>
        </div>
        <%})%>
        <a href="##" id="delete-all-vote" style="color: red;" class="weui-btn weui-btn_primary"> 清除空所有投票</a>
      </section>

    </div>
  <footer>© 红岩网校工作站</footer>

  <script src="/vote_drx/static/js/zepto.min.js"></script>
  <script src="/vote_drx/static/js/admin.js"></script>
</body>
</html>